.favorite {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  margin-top: 3rem;
  gap: 2rem;
}

@media (max-width: 860px) {
  .favorite {
    grid-template-columns: 1fr;
  }
  .favorite__title {
    font-size: 18px;
  }
}
