@keyframes fade {
  100% {
    opacity: initial;
  }
}

.card,
.card__favorite {
  box-shadow: 1px 1px 7px 0px rgba(188, 182, 182, 0.482);
  border-radius: 5px;
  background-color: white;
  padding: 0.5rem 1rem;
  height: 100%;
  opacity: .7;
  animation: fade 0.5s linear forwards;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  border-bottom: 16px solid white;
}

.card__bag {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid grey;
}

.card__favorite {
  flex-direction: row;
  gap: 5rem;
  align-items: center;
  img {
    width: 100px;
  }
  button {
    background-color: var(--secundary-color);
    color: var(--white);
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    height: 35px;
    margin-top: 1rem;
    cursor: pointer;
    &:hover {
      background-color: var(--white);
      border: 1px solid var(--secundary-color);
      color: var(--secundary-color);
    }
  }
}

.card__price {
  color: var(--secundary-color);
  font-size: 18px;
  font-weight: bold;
}

.card__favorite .card__description {
  margin-top: 1rem;
}

.card__description {
  font-size: 1rem;
  padding: 0;
  width: 180px;
  font-size: 14px;
}

.favorite,
.favorite_selected {
  position: absolute;
  top: 10px;
  right: 10px;
  &:hover {
    scale: 1.1;
  }
}

.favorite_selected {
  &:hover {
    scale: initial;
    cursor: default;
  }
}

.card__button {
  background-color: var(--secundary-color);
  color: var(--white);
  font-size: 14px;
  border-radius: 5px;
  width: 100%;
  height: 35px;
  cursor: pointer;
  &:hover {
    background-color: var(--white);
    border: 1px solid var(--secundary-color);
    color: var(--secundary-color);
  }
}

.card__favorite .card__image {
  min-width: 200px;
}

.card__image {
  width: 100%;
}

.card__favorite .closeBtn {
  color: var(--secundary-color);
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

.closeBtn {
  color: var(--secundary-color);
}

.card__bag .card__image {
  width: 80px;
  height: auto;
  max-height: 120px;
}

.card__bag .card__acrescent {
  width: 50px;
  padding: 5px 0px 5px 10px;
}

.card__bag .card__infos {
  input {
    width: 40px;
    padding-inline-start: 5px;
  }
}

@media(max-width: 1120px) {
  .card__favorite{
    gap: 2rem;
  }
}

@media(max-width: 1020px) {
  .card__favorite .card__image{
    min-width: 120px;
  }
}


@media(max-width: 440px) {
.card__description{
  width: 140px;
}
.card__favorite .card__image {
  min-width: 100px;
}
}