.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  height: 4.3rem; /* 70px */
  padding-inline: var(--padding-page);
  color: var(--white);
}

.header__search-form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  button {
    background-color: transparent;
    border: none;
    color: currentColor;
  }
}

.header__input {
  outline: none;
  padding: 5px;
  height: 24px;
  border-radius: 5px;
  border: none;
  &:hover {
    box-shadow: 1px 2px 10px 1px
      color-mix(in hsl, var(--primary-color), 40% var(--white));
  }
}

.popup{
  position: relative;
}
.popup::before{
  content: attr(data-count);
  background-color: rgb(255, 255, 255);
  font-size: 12px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 1.1rem;
  min-width: 1.1rem;
  position: absolute;
  border-radius: 50%;
  top: -7px;
  right: -7px;
}