/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(185, 179, 179, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--primary-color);
}

/* vars */
:root {
  --primary-color: rgb(6, 88, 195);
  --white: rgb(255, 255, 255);
  --padding-default: 2rem;
  --padding-page: 10rem;
  --bg-color: rgb(255, 255, 255);
}

/* reset css */
* {
  margin: 0;
  padding: 0;
  transition: 0.3s;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* padroniza icons size */

svg {
  width: 24px;
  height: 24px;
  color: currentColor;
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

a {
  color: currentColor;
  text-decoration: none;
}

.sec-card {
  padding: 5rem var(--padding-page);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--padding-default);
}

section {
  padding: 5rem var(--padding-page);
}
