/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* vars */
:root {
  --primary-color: rgb(6, 88, 195);
  --secundary-color: rgb(238, 110, 38);
  --white: rgb(255, 255, 255);
  --padding-default: 2rem;
  --padding-page: 9rem;
  --bg-color: rgb(252, 252, 252);
}

/* reset css */
* {
  margin: 0;
  padding: 0;
  transition: 0.3s;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* padroniza icons size */

svg {
  width: 24px;
  height: 24px;
  color: currentColor;
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

a {
  color: currentColor;
  text-decoration: none;
}

@keyframes fade {
  100% {
    opacity: initial;
  }
}

main {
  opacity: 0;
  animation: fade 1s forwards;
}

.sec-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--padding-default);
  padding-top: 1rem;
}

.productSearch {
  font-size: 20px;
  padding: 3rem var(--padding-page);
  color: grey;
  span {
    font-style: italic;
  }
}

section {
  padding: 5rem var(--padding-page);
}

.warning {
  font-size: 20px;
  padding: var(--padding-default) var(--padding-page);
}
